In [1]:
import pandas as pd

### Information on Leuven Data
You should discard the SAB data for 2790 as this patient is from the remaining cohort with missing complete HR HLA data, which was excluded from our JASN paper.

We also do not have the files for #Tx 3529 and 3546.

In [2]:
path = '/Users/Danial/UMCUtrecht/Leuven/LEUVEN cohort_AS.xlsx'
df = pd.read_excel(path)
# df.columns

In [3]:
df[df['Overall_preTX_DSA'] == 1].shape

(95, 44)

In [50]:
import os
from collections import  Counter
files = os.listdir('/Users/Danial/UMCUtrecht/Leuven/lsa_per_tx')
csv_ids = []
for file in files:
    id = file.split('.')[0].split(' ')[0]
    if id.isdigit():
        csv_ids.append(int(id))

In [53]:
dict(Counter(csv_ids))

{3466: 1,
 3695: 2,
 3798: 1,
 3824: 1,
 3463: 2,
 3211: 2,
 3560: 1,
 3428: 1,
 2797: 1,
 3456: 2,
 3288: 1,
 2790: 2,
 3229: 2,
 3665: 1,
 3705: 1,
 3700: 1,
 3265: 1,
 3850: 1,
 3272: 1,
 3312: 1,
 3845: 1,
 3607: 2,
 3451: 1,
 3520: 2,
 3730: 2,
 3295: 1,
 3861: 1,
 3452: 1,
 3731: 1,
 3296: 1,
 3490: 1,
 3481: 1,
 3765: 2,
 2992: 1,
 3535: 1,
 3591: 1,
 3793: 1,
 3406: 2,
 3622: 2,
 3802: 1,
 3784: 1,
 3478: 1,
 3626: 1,
 3811: 1,
 3420: 1,
 3742: 1,
 3775: 2,
 3421: 1,
 3353: 1,
 3179: 1,
 3423: 1,
 3594: 1,
 3797: 1,
 3218: 1,
 3453: 1}

## Join All files with multiple Transplants

In [134]:
path_I = '/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/LSA1 2801-3188.csv'
path_II = '/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/LSA2 2974-3188.csv'
path_III = '/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/LSA1-2860,72 2963 3003,06,75 3104.csv'
path_IV = '/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/LSA1-170131-IWT1.csv'
path_V = '/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/LSA1-170214-IWT2.csv'
path_VI = '/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/LSA1-170221-IWT.csv'
path_VII = '/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/LSA1-170509-IWT6.csv'

cols = [
    'sample ID', 'patient Name', 'patient DOB', 'hla Type', 'draw Dt', 'donor Number', 
    'donor Center Number', 'bead', 'allele', 'raw Value', 'BCM', 'BCR', 'AD-BCR', 
    'assignment', 'Probe 77', 'CON1', 'CON2', 'CON3'
]

dfs = [
    pd.read_csv(path, names=cols, header=0).set_index('sample ID') 
                for path in [path_I, path_II, path_III, path_IV, path_V, path_VI, path_VII]
]
df = pd.concat(dfs).sort_index().reset_index().drop_duplicates()
df.to_csv('/Users/Danial/UMCUtrecht/Leuven/lsa_per_multi_tx/joined.csv')
df

,sample ID,patient Name,patient DOB,hla Type,draw Dt,donor Number,donor Center Number,bead,allele,raw Value,BCM,BCR,AD-BCR,assignment,Probe 77,CON1,CON2,CON3
0,2767,NaN,,C2,,,,228,A*43:01,175.0,-48.0,-0.53,-0.60,Negative,16328,208,,
1,2767,NaN,,C2,,,,274,B*55:01,159.0,-101.0,-1.05,-1.18,Negative,16328,208,,
2,2767,NaN,,C2,,,,273,B*54:01,160.0,-67.0,-0.70,-0.77,Negative,16328,208,,
3,2767,NaN,,C2,,,,272,B*53:01,145.0,-64.0,-0.67,-0.72,Negative,16328,208,,
4,2767,NaN,,C2,,,,271,B*52:01,166.0,-71.0,-0.74,-0.84,Negative,16328,208,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6379,3622,NaN,,,,NaN,,231,A*68:01,11005.5,10818.5,99.71,101.64,Positive,20291,248,,
6380,3622,NaN,,,,NaN,,230,A*66:02,9966.0,9755.0,89.91,90.27,Positive,20291,248,,
6381,3622,NaN,,,,NaN,,229,A*66:01,4128.0,3948.0,36.39,37.40,Positive,20291,248,,
6382,3622,NaN,,,,NaN,,251,B*27:05,327.0,144.0,0.96,0.99,Negative,20291,248,,
6383,3622,NaN,,,,NaN,,299,C*18:01,342.0,-8.0,-0.03,-0.05,Negative,20291,248,,

In [86]:
tx_ids = set() 
tx_df_vs_ids = {}
shapes = []
for i in range(7):
    tx_ids.update(dfs[i].index.unique())
    tx_df_vs_ids[i] = set(dfs[i].index.unique())
    shapes.append(dfs[i].shape[0])
    print(len((dfs[i].index.unique())))

13
8
7
14
15
2
5

In [125]:
# Check which files have sample overlap
for i in range(6):
    for j in range(i + 1, 6):
        print(f'i:{i} and j:{j}', tx_df_vs_ids[i] & tx_df_vs_ids[j])

i:0 and j:1 {3042, 3140, 3118, 2990, 3026, 3188, 2974, 3135}
i:0 and j:2 set()
i:0 and j:3 {3105, 3042, 3140, 2885, 2990, 3118, 3152, 3026, 2867, 3188, 3002, 2974, 3135}
i:0 and j:4 set()
i:0 and j:5 set()
i:1 and j:2 set()
i:1 and j:3 {3042, 3140, 3118, 2990, 3026, 3188, 2974, 3135}
i:1 and j:4 set()
i:1 and j:5 set()
i:2 and j:3 set()
i:2 and j:4 {3104, 3075, 2860, 2963, 2872, 3003, 3006}
i:2 and j:5 set()
i:3 and j:4 set()
i:3 and j:5 set()
i:4 and j:5 set()

# Single Files

In [34]:
class_I = {2867, 2885, 2974, 2990, 3002, 3026, 3042, 3105, 3118, 3135, 3140, 3152, 3188}
class_II = {2974, 2990, 3026, 3042, 3118, 3135, 3140, 3188}
all_new = class_I.union(class_II).union({2767, 2838, 2801, 2835, 2896, 2907, 3703})

In [35]:
len(all_new)

20

In [38]:
len(tx_ids_no_lsa & all_new)

20

In [39]:
tx_ids_no_lsa - all_new

{2817, 2860, 2872, 2963, 2982, 3003, 3006, 3075, 3104, 3529, 3546}