In [358]:
import pandas as pd
# from src.preprocess import merge_lsa, summerize2allel, add_id
from src.leuven.idsvspath import idvspath_csv
from src.leuven.preprocess import (
    aggregate_lsa_per_patients,
    erratic_missing_values,
    clean_index2int, 
    select_cols, 
    strip_column, 
    merge_lsa, 
    summerize2allel, 
    add_id
)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Information on Leuven Data
You should discard the SAB data for 2790? as this patient is from the remaining cohort with missing complete HR HLA data, which was excluded from our JASN paper.

We also do not have the files for #Tx 3529 and 3546.

There are two files wit postTx name

## Join All files with multiple Transplants

## CSV Files

### Batch Files

In [269]:


multi = [
    'LSA1 2801-3188.csv', 'LSA2 2974-3188.csv', 'LSA1-2860,72 2963 3003,06,75 3104.csv', 
    'LSA1-170131-IWT1.csv', 'LSA1-170214-IWT2.csv', 'LSA1-170221-IWT.csv', 'LSA1-170509-IWT6.csv',
]

single = ['LSA2-3703.csv', '3179.csv', 'LSA1 2767.csv', 'LSA1-2817.csv', 'LSA2-3703.csv', '3288.csv', '2797 LSA2.csv']
paths = ['~/UMCUtrecht/Leuven/Original/lsa_per_multi_tx/' + file for file in multi] + \
        ['~/UMCUtrecht/Leuven/Original/lsa_per_tx/' + file for file in single] 
        

cols = [
    'sample ID', 'patient Name', 'patient DOB', 'hla Type', 'draw Dt', 'donor Number', 
    'donor Center Number', 'bead', 'allele', 'raw Value', 'BCM', 'BCR', 'AD-BCR', 
    'assignment', 'Probe 77', 'CON1', 'CON2', 'CON3'
]

dfs = [pd.read_csv(path, names=cols, header=0).set_index('sample ID') for path in paths]
df_batch = (
    pd.concat(dfs)
    .reset_index()
    .rename(columns={'bead': 'Bead', 'raw Value': 'Raw Value', 'sample ID': 'tx_id'})
    .pipe(clean_index2int, 'tx_id')
    .pipe(select_cols, 'tx_id', 'Bead', 'Raw Value', 'BCM', 'BCR', 'AD-BCR', 'assignment', 'allele')
    .pipe(strip_column, 'assignment')
    .sort_values(by='tx_id', ascending=True).reset_index(drop=True)
    # .drop_duplicates()
)

df_batch.to_csv('/Users/Danial/UMCUtrecht/Leuven/Processed/batch_lsa.csv')

df_batch

      tx_id  Bead  Raw Value     BCM    BCR  AD-BCR assignment      allele
0      2767   262     1562.0  1344.0  14.00   15.12   Positive     B*44:02
1      2767   289      182.5  -166.5  -1.21   -1.47   Negative     C*06:02
2      2767   290      260.0  -129.0  -0.93   -1.49   Negative     C*07:01
3      2767   291      207.5  -114.5  -0.83   -1.21   Negative     C*07:02
4      2767   292      138.0  -134.0  -0.97   -1.22   Negative     C*08:01
...     ...   ...        ...     ...    ...     ...        ...         ...
7239   3703   136      130.0   -16.0  -0.16   -0.18   Negative  DQA1*02:01
7240   3703   135      101.0   -34.0  -0.35   -0.40   Negative  DQB1*03:01
7241   3703   135      101.0   -34.0  -0.35   -0.40   Negative  DQA1*05:01
7242   3703   140      153.0    -5.0  -0.05   -0.06   Negative  DQB1*04:01
7243   3703   168      135.0    -8.0  -0.12   -0.15   Negative  DRB1*16:01

[7244 rows x 8 columns]

### Single Files:

In [375]:
# def aggregate_lsa_per_patients(idvspath_csv):
#     """ Aggregate the Luminex Single Antigen data per patient in single data frame """
#     dfs = defaultdict()
#     for id, paths in idvspath_csv.items():
#         try:
#             dfs[id] = (
#                     merge_lsa(*paths)
#                     .pipe(summerize2allel)
#                     .dropna(how='all')
#                     .pipe(add_id, id)
#                     .pipe(erratic_missing_values, 'Assignment')  
#                     .pipe(strip_column, 'Assignment')
#                     )
#         except Exception as e:
#             print(id, e)
#     return pd.concat([df.reset_index(drop=True) for df in dfs.values()])
df_single_csv = (
    aggregate_lsa_per_patients(idvspath_csv)
    .rename(columns={'Assignment': 'assignment'})
)

    Bead  Raw Value  BCM  BCR         AD-BCR Assignment allele
95   NaN        NaN  NaN  NaN  Patient Name:        NaN    NaN
     Bead  Raw Value  BCM  BCR  AD-BCR Assignment allele
177   NaN        NaN  NaN  NaN     NaN        NaN    NaN
    Bead  Raw Value  BCM  BCR  AD-BCR Assignment allele
93   NaN        NaN  NaN  NaN     NaN        NaN    NaN
94   NaN        NaN  NaN  NaN     NaN        NaN    NaN
95   NaN        NaN  NaN  NaN     NaN        NaN    NaN

In [376]:
df_single_csv

,Bead,Raw Value,BCM,BCR,AD-BCR,assignment,allele,tx_id
0,127.0,659.0,477.0,12.23,12.04,Positive,A*66:01,2790
1,187.0,656.0,411.0,3.73,4.53,Positive,C*04:03,2790
2,183.0,623.0,373.0,3.39,5.4,Positive,C*02:02,2790
3,128.0,579.0,415.0,10.63,9.86,Positive,A*66:02,2790
4,129.0,421.0,248.0,6.36,6.76,Positive,A*68:01,2790
...,...,...,...,...,...,...,...,...
75,152.0,283.0,-142.0,-0.60,-0.79,Negative,DRB1*01:02,3861
76,118.0,268.0,-233.0,-0.87,-1.64,Negative,"DPA1*04:01, DPB1*04:01",3861
77,138.0,262.0,-77.0,-0.30,-0.41,Negative,"DQA1*04:01, DQB1*03:03",3861
78,179.0,257.0,-109.0,-0.42,-0.56,Negative,"DQB1*03:02, DQA1*03:01",3861
79,166.0,238.0,-200.0,-0.84,-1.68,Negative,DRB1*15:01,3861

# Join Batch Files & Single Files

In [377]:
df_total = pd.concat([df_single_csv, df_batch]).reset_index(drop=True)
df_total.to_csv('/Users/Danial/UMCUtrecht/Leuven/Processedlsa_joined.csv')

In [378]:
lsa_ids = df_total.tx_id.unique()
len(lsa_ids)

85

### Excel Files

In [379]:
excel_files = ['LSA2 2838.xlsx', 'LSA2-2801.xlsx', 'LSA2-2835.xlsx', 'LSA2-2896.xlsx', 'LSA2-2907.xlsx']
excel_paths = ['~/UMCUtrecht/Leuven/Original/lsa_per_tx/' + file for file in excel_files]

In [380]:
# dfs = [pd.read_excel(path, skiprows=2) for path in excel_paths]
# pd.concat(dfs)

# pd.read_excel(excel_paths[0], skiprows=2)

# Single Files

In [5]:
class_I = {2867, 2885, 2974, 2990, 3002, 3026, 3042, 3105, 3118, 3135, 3140, 3152, 3188}
class_II = {2974, 2990, 3026, 3042, 3118, 3135, 3140, 3188}
all_new = class_I.union(class_II).union({2767, 2838, 2801, 2835, 2896, 2907, 3703})

In [122]:
# import os
# from collections import Counter
# files = os.listdir('/Users/Danial/UMCUtrecht/Leuven/lsa_per_tx')
# csv_ids = []
# for file in files:
#     id = file.split('.')[0].split(' ')[0]
#     if id.isdigit():
#         csv_ids.append(int(id))

In [390]:
@dataclass
class HLA_HR:
    """ Class for all High Resolution HLA's """
    string: str
    gene: str = field(init=False, repr=False)
    allele: str = field(init=False, repr=False)
    protein: str = field(init=False, repr=False)
    _class: str = field(init=False, repr=False)
    locus: str = field(init=False, repr=False)

    def __post_init__(self):
        self.gene, specificity = self.string.split('*')
        _spec = specificity.replace('G','').split(':')
        # filter higher resolutions with 2 or more ':'
        self.allele, self.protein = _spec[0], _spec[1]
        self.string = self.gene + '*' + self.allele + ':' + self.protein
        self._class = 'I' if self.gene in ['A', 'B', 'C'] else 'II'
        self.locus = {'Cw': 'C', 'Bw': 'B'}.get(self.gene[0:2], self.gene[0:2])
        self.locus = self.gene[0:2]

In [391]:
from typing import Set
@dataclass
class Luminex():
    """ Class contatining Luminex data """
    _specificity: InitVar[set] = field(repr=False)
    assignment: str = field(repr=True)
    specificity: Set[HLA_HR] = field(init=False, default_factory=list, repr=True)

    def __post_init__(self, _specificity):
        if isinstance(_specificity, str):
            self.specificity  = [HLA_HR(hla) for hla in _specificity.split(',')]
        if isinstance(_specificity, set):
            self.specificity  = [HLA_HR(hla) for hla in _specificity]

In [392]:
Luminex

__main__.Luminex

In [393]:
for id in df_total.tx_id.unique():
   df_id = df_total[df_total.tx_id == id]
   
   Luminex(df_id.allele, df_id.assignment)

In [394]:
df_id

        Bead  Raw Value     BCM    BCR AD-BCR assignment      allele  tx_id
12467  180.0      261.0    87.0   0.89   1.02   Negative  DQB1*03:03   3703
12468  180.0      261.0    87.0   0.89   1.02   Negative  DQA1*03:02   3703
12469  179.0      627.0   466.0   4.78   5.57   Positive  DQB1*03:02   3703
12470  177.0     3702.5  3534.5  36.25  46.96   Positive  DQB1*02:01   3703
12471  178.0      149.5    -3.5  -0.04  -0.04   Negative  DQB1*03:01   3703
...      ...        ...     ...    ...    ...        ...         ...    ...
12728  136.0      130.0   -16.0  -0.16  -0.18   Negative  DQA1*02:01   3703
12729  135.0      101.0   -34.0  -0.35   -0.4   Negative  DQB1*03:01   3703
12730  135.0      101.0   -34.0  -0.35   -0.4   Negative  DQA1*05:01   3703
12731  140.0      153.0    -5.0  -0.05  -0.06   Negative  DQB1*04:01   3703
12732  168.0      135.0    -8.0  -0.12  -0.15   Negative  DRB1*16:01   3703

[266 rows x 8 columns]

In [395]:
lsas = []
for row in df_id.iterrows():
    *_, assignment, allele, _= row[1]
    lsas.append(Luminex(_specificity=allele, assignment=assignment))

In [401]:
lsas[1].specificity[0]

HLA_HR(string='DQA1*03:02')

In [402]:
print(lsas[1].specificity[0].string)
print(lsas[1].specificity[0].locus)
print(lsas[1].specificity[0].gene)
print(lsas[1].specificity[0].allele)
print(lsas[1].specificity[0].protein)
print(lsas[1].specificity[0]._class)

DQA1*03:02
DQ
DQA1
03
02
II